.cabecalho{
  display: flex;
  align-items: center;
  padding: 1.2rem 2.5rem;
  font-size: 1.2rem;
}

.menu__link {
  color: #333333;
  padding: .5rem 1rem;
}

.menu__link:hover, .menu__link.ativo {
  border-bottom: 2px solid #0073e6;
}

@media screen and (max-width: 425px){
  .cabecalho {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    margin-bottom: 1rem;
  }
  
  .menu__link{
    display: block;
    padding: 8px 0;
    text-align: center;
    width: 100%;
  } 

  .menu__link:hover, .menu__link.ativo {
    border-bottom: none;
  }

  .menu {
    width: 100%;
  }


}