.rodape {
  grid-area: "rodape";
  background: #fdfdfd;
  color: #333333;
  font-size: 1rem;
  padding: 2rem;
  text-align: center; 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
}